*{
    margin: 0;
    padding: 0;
    background-color: blue;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    top: 10px;
    background-color: rgb(240, 228, 228);
}

li{
    color: white;
}
nav{
    height: 50px;
    width: 100%;
    background-color: rgb(194, 23, 23);
    position: relative;


}

#demo{
    position: absolute;
    left: 55%;
    background-color: black;
    transition: all 1s linear;

}
#demo1{

    position: absolute;
    left: 65%;
    background-color: black;

}
#demo2{

    position: absolute;
    left: 75%;
    background-color: black;

}
#demo3{
    position: absolute;
    left: 85%;
    background-color: black;

}
#demo:hover{

    color: aqua;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s linear;
}
#demo1:hover{

    color: aqua;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s linear;
}
#demo2:hover{

    color: aqua;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s linear;
}
#demo3:hover{

    color: aqua;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s linear;
}
.fa-solid{

    position: relative;

    left: 95%;

    top: 30px;
}









